@media (min-width: 1200px) {
    .carousel-item {
        height: 75vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .img1 {
        background-image: url('imgs/20190524_173607_HDR.jpg');
    }
    .img2 {
        background-image: url('imgs/Blox.jpg')
    }
    .img3 {
        background-image: url('imgs/IMG_20190910_124944702.jpg')
    }
    .img4 {
        background-image: url('imgs/20190710_121635-min.jpg')
    }
}