@media (min-width: 1200px) {
    .carousel-item {
        height: 75vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .img1 {
        background-image: url('imgs/PanaramaCropped.jpg');
    }
    .img2 {
        background-image: url('imgs/Blox.jpg')
    }
    .img3 {
        background-image: url('imgs/20190710_102125.jpg')
    }
}